
<section id="banner" style="background-color: rgb(72, 72, 72);">
  <div class="inner split">
    <section>
      <h2>Our Mission</h2>
    </section>
    <section>
      <p>To offer every student the opportunity regardless of ethnicity, race, socioeconomic status, gender, exceptionalities, language, religion, sexual orientation, and geographical area to become financially literate.</p>
    </section>
  </div>
</section>

<section id="banner" class="wrapper">
  <div class="inner split">
    <section>
      <p style="color: black;">To offer every student the opportunity regardless of ethnicity, race, socioeconomic status, gender, exceptionalities, language, religion, sexual orientation, and geographical area to become financially literate.</p>

    </section>
    <section>
      <h2 style="color: black;">Our Vision</h2>
    </section>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 style="text-align: center; color: black; font-size: 50px;"><b>Team Member Locations</b></h1>
  <br>
  <br>
  <img class="center" src="../../../assets/img/fleomap.png">
</section>


