<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/background.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>The Finanacial Literacy Education Organization</h1>
            <h3 class="catchphrase">The Bridge Between Students And Financial Literacy.</h3>
            <br />
            <a routerLink="/login" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Admin Login!</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">About Us</h2>
                <h5 class="description">Financial Literacy Education Organization (FLEO) is a nonprofit that strives to provide a platform for financial literacy content to be taught to the youth through enjoyable and engaging lessons. With workshops being taught in 5 continents, FLEO wants to increase the overall financial health of today’s youth by making financial literacy content more accessible to them.</h5>
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">How It Works</h2>
                <h5 class="description">FLEO will address the problem of a lack of engagement with financial literacy content. Currently, only 34 percent of Millennials in the United States are financially literate (Hasler, Lusardi, and Yakoboski, 2018). To ensure that this doesn’t happen to Gen Z, it’s not a case of pumping more content into the internet. It’s a matter of getting people to sign up and learn integral personal finance skills. To combat the gross disparity between the vast amount of financial literacy content and the comparative lack of engagement with these courses, FLEO believes that hosting events that incentivize today’s teens to take part in this initiative would drive great success in terms of people enriching themselves with these fundamental tools for prosperity.</h5>
                <br>
            </div>
        </div>
        <br/><br/>

    </div>
</div>

<div class="main">
    <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wJAWDqYYyMQ" allowfullscreen></iframe>
          </div>
    </div>
</div>

    <!-- 
        CONTACT PAGE 
    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    -->
</div>
