<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" *ngIf="!isDocumentation()" routerLink="/homepage"><img class="logo" src="assets/img/fleologo.png"></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a routerLink="/about" class="nav-link" style="color:black"><i class="nc-icon nc-tag-content"></i> About</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a routerLink="/team" class="nav-link" style="color:black"><i class="nc-icon nc-badge"></i> The Team</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a routerLink="/workshops" class="nav-link" style="color:black"><i class="nc-icon nc-ruler-pencil"></i> Our Work</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a routerLink="/blog" class="nav-link" style="color:black"><i class="nc-icon nc-single-copy-04"></i> Newsletter</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a routerLink="/blog/dashboard" class="nav-link" style="color:black"><i class="nc-icon nc-bank"></i>Partnerships and Sponsors</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation() && isLoggedIn()">
                    <a routerLink="/blog/dashboard" class="nav-link" style="color:black"><i class="nc-icon nc-planet"></i> Dashboard</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a style="color:black" class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="http://www.instagram.com/fleo.online/" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation() ">
                    <a style="color:black" class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://www.apai25/fleo-website" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation() && isLoggedIn() ">
                    <a (click)="logout()" class="nav-link" style="color:black"><i class="nc-icon nc-stre-left"></i> Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
