<div class="page-header" data-parallax="true" style="background-image: url('../../../assets/img/loginback.jpg');" >
  <div class="demo">
    <div class="login">
      <div class="login__check"></div>
      <div class="login__form">
        <div class="login__row">
          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
          </svg>
          <input type="password" class="login__input pass" placeholder="Admin Pin" [(ngModel)]="adminpin" />
          <button type="button" class="login__submit" (click)="Login()" >Sign in with Google</button>
        </div>
      </div>
    </div>
    
</div>