<footer class="footer" *ngIf="!isDocumentation()">
    <div class="navbar static-bottom">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    INFO GOES HERE
                </nav>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © {{test | date: 'yyyy'}}, made by <i class="fa fa-heart heart"></i> FLEO
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
