
div {
    color: rgb(196, 196, 196);

}

.footer {
    
    background: rgb(44, 44, 44);
    text-align: center;
    padding: 20px;
}

.copyright {
    color: rgb(196, 196, 196);
    padding: 0px;
}

p {
    padding: 0px;
    color: rgb(196, 196, 196);
}

.footer-logo {
    height: 100;
    width: 150px;
}

.subtitle {
    font-size: 20px;
}